{% extends "base.html" %}

{% block content %}
<h3 class="text-left text-4xl text-gray-800 m-10">Courses</h3>
<div class="mx-auto p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-full gap-4 p-8 items-start">

        <!-- Item 1: Grades -->
        <div class="max-w-xl w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center font-semibold text-2xl text-gray-800 m-10">Grades</h5>

            {% for course in current_courses %}
            <div class="m-5">
                <div class="border border-gray-300 rounded-md p-2">
                    <p>{{course.name}} - {{course.grade}}% (AoS Weight: {{ course.assessment_weight }}% / PoS Weight: {{
                        course.practice_weight }}%)</p>
                    <p>Goal: {{ course.grade_goal }}%</p>
                </div>
                <form class="max-w-fit" action="{{ url_for('delete_course', course_id=course.id) }}" method="POST"
                    onclick="return confirm('Are you sure you want to permanently delete this course?');">
                    {{ delete_course_form.hidden_tag() }}
                    <button type="submit"
                        class="text-xs max-w-fit rounded-md p-2 transition-colors duration-800 hover:text-red-600 hover:bg-gray-200/60">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>



        <!-- Item 2: Add Courses -->
        <div class="max-w-xl w-full max-h-min p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center font-semibold text-2xl text-gray-800 m-10">Add Course</h5>
            <form method="post" class="flex flex-col gap-4">
                {{ add_course_form.hidden_tag() }}

                {{ add_course_form.course_name.label }}
                {{ add_course_form.course_name(class="border border-gray-300 rounded-md p-2") }}

                {{ add_course_form.practice_of_standards_weight.label }}
                <span>{{ add_course_form.practice_of_standards_weight(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.assessment_of_standards_weight.label }}
                <span>{{ add_course_form.assessment_of_standards_weight(class="border border-gray-300 rounded-md p-2")
                    }} %</span>

                {{ add_course_form.practice_of_standards_grade.label }}
                <span>{{ add_course_form.practice_of_standards_grade(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.assessment_of_standards_grade.label }}
                <span>{{ add_course_form.assessment_of_standards_grade(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.grade_goal.label }}
                <span>{{ add_course_form.grade_goal(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.submit(class='rounded-md p-2 transition-colors duration-200 hover:bg-gray-200/60') }}




            </form>
        </div>

        <!-- Item 3: Update Course Data -->
        <div class="max-w-xl w-full max-h-xl p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center font-semibold text-2xl text-gray-800 m-10">Update Course</h5>
            <form method="POST">
                <select name="update_course_id"
                    class="w-full rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">

                    {% for course in current_courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}

                </select>
                <button type="submit"
                    class="rounded-md p-2 transition-colors duration-800 hover:text-sky-700 hover:bg-gray-200/60">Load</button>
            </form>

            {% if dropdown_update_course %}
            <!-- Creating Abbreviation -->
            {% set course_abbreviation = dropdown_update_course.name.split(' ') %}
            {% set course_abbreviation = course_abbreviation | map(attribute='0') | list %}
            {% set course_abbreviation = "".join(course_abbreviation) %}

            <form method="POST" class="flex flex-col">
                <h5 class="text-center text-l text-gray-800 m-5 font-semibold">{{dropdown_update_course.name}}</h5>
                <input type="hidden" name="update_course_id" value="{{ dropdown_update_course.id }}">
                {{ update_course_form.hidden_tag() }}

                {{ update_course_form.new_grade.label }} ({{ course_abbreviation }})
                <span>{{ update_course_form.new_grade(class="border border-gray-300 rounded-md p-2") }} %</span>

                {{ update_course_form.grade_goal.label }} ({{ course_abbreviation }})
                <span>{{ update_course_form.grade_goal(class="border border-gray-300 rounded-md p-2") }} %</span>


                {{ update_course_form.submit(class='rounded-md p-2 transition-colors duration-200 hover:bg-gray-200/60')
                }}

            </form>
            <div class="mt-4 border border-gray-300 rounded-md p-2">
                <h5 class="text-center text-l text-gray-800 m-5">{{ course_abbreviation }} Recorded Grades</h5>
                <div class="overflow-auto max-h-24">
                    {% for grade in dropdown_update_course.grades %}
                    <div class="m-5">
                        <div class="bg-white border border-gray-300 rounded-md p-2">
                            <p class="text-base text-slate-800 font-semibold">Grade - {{ grade.percentage }}%:
                                {{ grade.date_created.strftime("%m/%d/%Y %I:%M %p") }}</p>
                            <form method="POST"
                                action="{{ url_for('delete_grade', course_id=dropdown_update_course.id, grade_id=grade.id) }}"
                                class="flex flex-col">
                                {{ delete_grade_form.hidden_tag() }}
                                <button type="submit"
                                    onclick="return confirm('Are you sure you want to permanently delete this grade?');"
                                    class="text-xs max-w-fit rounded-md p-2 transition-colors duration-800 hover:text-red-600 hover:bg-gray-200/60">Delete</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endif %}
        </div>

        <!-- Item 4: Graphing Courses -->
        <div class="max-w-xl w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center font-semibold text-2xl text-gray-800 m-10">Graph Grades</h5>
            <form method="POST">
                <select name="graph_course_id"
                    class="w-full rounded-md border border-gray-300 bg-white p-2 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">

                    {% for course in current_courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}

                </select>
                <button type="submit"
                    class="rounded-md p-2 transition-colors duration-800 hover:text-sky-700 hover:bg-gray-200/60">Load</button>
            </form>


            <div class="w-full h-[400px] overflow-hidden">
                {{ graph_html | safe }}
            </div>

        </div>
    </div>
</div>
{% endblock %}