{% extends "base.html" %}

{% block content %}
<h3 class="text-left text-4xl text-gray-800 m-15">Dashboard</h3>
<div class="max-w-6xl mx-auto p-8">
    <div class="grid grid-cols-2 gap-4 p-8">

        <div class="max-w-md w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center text-2xl text-gray-800 m-10">Grades</h5>

            {% for course in current_courses %}
            <div class="border border-gray-300 rounded-md p-2">
                <p>{{course.name}} - {{course.grade}}% (AoS Weight: {{ course.assessment_weight }}% / PoS Weight: {{
                    course.practice_weight }}%)</p>
            </div>

            {% endfor %}
        </div>




        <div class="w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center text-2xl text-gray-800 m-10">Add Course</h5>
            <form method="post" class="flex flex-col gap-4">
                {{ add_course_form.hidden_tag() }}

                {{ add_course_form.course_name.label }}
                {{ add_course_form.course_name(class="border border-gray-300 rounded-md p-2") }}

                {{ add_course_form.practice_of_standards_weight.label }}
                <span>{{ add_course_form.practice_of_standards_weight(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.assessment_of_standards_weight.label }}
                <span>{{ add_course_form.assessment_of_standards_weight(class="border border-gray-300 rounded-md p-2")
                    }} %</span>

                {{ add_course_form.practice_of_standards_grade.label }}
                <span>{{ add_course_form.practice_of_standards_grade(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.assessment_of_standards_grade.label }}
                <span>{{ add_course_form.assessment_of_standards_grade(class="border border-gray-300 rounded-md p-2") }}
                    %</span>

                {{ add_course_form.submit(class='rounded-md p-2 transition-colors duration-200 hover:bg-gray-200/60') }}




            </form>
        </div>
    </div>
</div>
{% endblock %}