{% extends "base.html" %}
{% block content %}
<h3 class="text-left text-4xl text-gray-800 m-10">Dashboard</h3>

<div class="mx-auto p-8">
    <div class="max-w-5/6 w-fit p-6 rounded-lg shadow-xl/30 flex flex-col">
        <h5 class="text-left text-2xl text-gray-800 m-10">Advice</h3>
            {% if course_tips %}

            {% for tip in course_tips %}
            <span class="p-3">{{tip}}</span>
            {% endfor %}

            {% endif %}
            <form method="post" class="mx-auto">
                {{ load_advice_form.hidden_tag() }}
                {{ load_advice_form.submit(class='rounded-md p-2 transition-colors duration-200
                hover:bg-gray-200/60')
                }}
            </form>
    </div>
    <div class="grid grid-cols-2 grid-rows-3 gap-4 p-8 items-start">
        <!-- Item 1: Course Progress -->
        <div class="w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center text-2xl text-gray-800 m-10">Progress</h5>
            <div class="grid grid-cols-2 gap-6 p-8">
                {% for graph in made_graphs %}
                <div
                    class="border border-gray-300 rounded-md p-2 w-full h-[400px] overflow-hidden [&_div]:!w-full [&_svg]:!w-full [&_canvas]:!w-full">
                    {{ graph | safe }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Item 2: Recommended Youtube Videos -->
        <div class="max-w-xl w-full p-6 rounded-lg shadow-xl/30">
            <h5 class="text-center text-2xl text-gray-800 m-10">Recommended Videos</h5>
            <div class="flex flex-col gap-2 items-center">
                {% for video_link in recommended_videos %}
                <div class="w-full h-[400px] overflow-hidden flex justify-center">
                    <iframe width="420" height="315" src="{{video_link}}">
                    </iframe>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>



{% endblock %}