{% extends "base.html" %}
{% block content %}
<h3 class="text-left text-4xl text-gray-800 m-10">Dashboard</h3>

<div class="mx-auto p-8">
    <div class="max-w-5/6 w-fit p-6 rounded-lg shadow-xl/30 p-6 bg-white rounded-lg flex flex-col">
        <h5 class="text-left font-semibold text-2xl text-gray-800 m-10">Advice</h3>
            {% if course_tips %}

            {% for tip in course_tips %}
            <span class="p-3">{{tip}}</span>
            {% endfor %}

            {% endif %}
            <form method="post" class="mx-auto">
                {{ load_advice_form.hidden_tag() }}
                {{ load_advice_form.submit(class='rounded-md p-2 transition-colors duration-200
                hover:bg-gray-200/60')
                }}
            </form>
    </div>
    <div class="grid grid-cols-2 gap-4 p-8 items-start">
        <!-- Item 1: Course Progress -->
        <div class="w-full p-6 rounded-lg shadow-xl/30 p-6 bg-white rounded-lg">
            <h5 class="text-center font-semibold text-2xl text-gray-800 m-10">Progress</h5>
            <div class="grid grid-cols-2 gap-6 p-8">
                {% for graph in made_graphs %}
                <div
                    class="border border-gray-300 rounded-md p-2 w-full h-[400px] overflow-hidden [&_div]:!w-full [&_svg]:!w-full [&_canvas]:!w-full">
                    {{ graph | safe }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Item 2: Recommended Youtube Videos -->
        <div class="w-full h-full p-6 bg-white rounded-lg shadow-xl/30 flex flex-col box-border">
            <h5 class="text-center text-2xl font-semibold text-gray-800 mb-6 shrink-0">Recommended Videos</h5>

            <div class="grid grid-cols-2 grid-rows-2 gap-4 flex-1 min-h-0">
                {% for video_link in recommended_videos %}
                <div class="w-full h-full relative overflow-hidden rounded-lg shadow-sm">
                    <iframe class="absolute top-0 left-0 w-full h-full" src="{{video_link}}" frameborder="0"
                        allowfullscreen></iframe>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>



{% endblock %}